<div class="footer">
   <div class="container">
      <p class="copy">&copy; {{ site.time | date: '%Y' }} <a href="http://lidmila.cz">Lidmila Maršálková</a></p>

      <div class="footer-links">
         <ul class="noList">
            <li><a href="https://www.facebook.com/krabickanamiru/">
              <i class="fa fa-fw fa-facebook"></i>
            </a></li>
            <li><a href="https://www.instagram.com/krabickanamiru.cz/">
              <i class="fa fa-fw fa-instagram"></i>
            </a></li>
            <li><a href="https://twitter.com/Liduskha?lang=cs">
              <i class="fa fa-fw fa-twitter"></i>
            </a></li>
            <li><a href="https://www.linkedin.com/in/lmarsalkova">
              <i class="fa fa-fw fa-linkedin"></i>
            </a></li>
         </ul>
      </div>
   </div>
</div><!-- end .footer -->
